/* .field-row{
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
  ***
  .field {
    width: 104px;
    height: 120px;
    position: relative;
  }
  ***
  .hex-top {
    width: 0;
    border-bottom: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }
  .hex-middle {
    width: 104px;
    height: 60px;
  }
  .hex-bottom {
    width: 0;
    border-top: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }
  /* -> hexagon se sastoji od 3 diva, kao na http://jtauber.github.io/articles/css-hexagon.html
  ako je nejasno, html za hexagon: */
  /* <>
    <div className="hex-top" style={{ borderBottomColor: color }} />
    <div className="hex-middle" style={{ backgroundColor: color }} />
    <div className="hex-bottom" style={{ borderTopColor: color }} />
  </> */
  /* .road {
    width: 50px;
    height: 6px;
    position: absolute;
  }
  .road-top-right { */
    /* top: 12px;
    right: 2px;
    transform: rotate(30deg);
  }
  .road-top-left {
    top: 12px;
    transform: rotate(-30deg);
  }
  .road-right {
    right: 2px;
    top: 50%;
    bottom: 50%;
    transform: rotate(90deg) translate(0, -27px);
  }
  .road-left {
    left: 2px;
    top: 50%;
    bottom: 50%;
    transform: rotate(90deg) translate(0, 27px);
  }
  .road-bottom-right {
    bottom: 12px;
    right: 2px;
    transform: rotate(-30deg);
  }
  .road-bottom-left {
    bottom: 12px;
    transform: rotate(30deg);
  }
  ***
  .crossroad {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .crossroad-top {
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-10px, -10px);
  }
  .crossroad-top-left {
    top: 30px;
    transform: translate(-10px, -10px);
  }
  .crossroad-top-right {
    top: 30px;
    right: 0;
    transform: translate(10px, -10px);
  }
  .crossroad-bottom {
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-10px, 10px);
  }
  .crossroad-bottom-left {
    bottom: 30px;
    transform: translate(-10px, 10px);
  }
  .crossroad-bottom-right {
    bottom: 30px;
    right: 0;
    transform: translate(10px, 10px);
  }
  ***
  .dice-index {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-11px, -11px);
    position: absolute;
    text-align: center;
    line-height: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
  }
  /* -> ovo je onaj broj u sredini */
  


   .hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}